body {
    background-image: url('Resources/Images/strokes_backg.jpg');
    background-size: cover;
    background-repeat: no-repeat; 
    background-position: center;
    display: flex;
    justify-content: center; /* Horizontal centering */
    align-items: center;     /* Vertical centering */
    height: 100vh;           /* Full viewport height */
    margin: 0;
}
h1 {
    top: 2px;
    text-align: center; 
    margin-top: 10px; 
    color: darkgreen;
    font-size: 2.5em;
    position: absolute;
    z-index: 7; 
}
#bok_jump {
width: 28vw;
height: 47vh;
position: absolute;
bottom: 0.1%;
right: 22%;
z-index: 1;
}
#rec_gold{
width: 536px;
height: 200px;
position: absolute;
right: 25px;
top: 50px;
z-index: 2;
}
#grass{
position: fixed;
bottom: 0;
/* left: 50%;
translate: translateX(-50%); */
width: 100%;
height: auto;
z-index: 2;
}
#speech_bubble{
width: 34vw;
height: 47vh;
position: absolute;
bottom: 18%;
left: 28%;
z-index: 4;
}
#input_form{
position: relative;
z-index: 5;
}
#text_bubble{
width: 15vw;  
height: 20vh;
padding: 10px;
align-items: center;
position: absolute; /* Allows you to move it freely */
bottom: 24%; /* Distance from the top of the page */
left: 35%;
z-index: 6;
color:white; 
font-size:1.4vw;
word-wrap: break-word;
white-space: normal;

}
#text_income_tax{
position: relative; /* Allows you to move it freely */
right: 350px; /* Distance from the top of the page */
top: 90px;
z-index: 6;
color:#FFFFFF; 
font-size:19px; 
font-weight: bold;
}
#text_net_salary{
position: relative; /* Allows you to move it freely */
right: 390px; /* Distance from the top of the page */
top: 160px;
z-index: 6;
color:#FFFFFF; 
font-size:19px; 
font-weight: bold;
}
#number_net_salary{
position: relative; /* Allows you to move it freely */
right: 425px; /* Distance from the top of the page */
top: 190px;
z-index: 6;
color:#FFFFFF; 
font-size:18px
}
#number_income_tax{
position: relative; /* Allows you to move it freely */
right: 435px; /* Distance from the top of the page */
top: 120px;
z-index: 6;
color:#FFFFFF; 
font-size:18px
}
#white_line{
position: relative; /* Allows you to move it freely */
right: 110px; /* Distance from the top of the page */
top: 150px;
z-index: 6;
}
@media (max-width: 900px) {
#white_line{
right: 90px;
}
#rec_gold{
right: 5px;
width: 450px;
}
}
.flex-box{
width: 450px;
height: 200px;
position: absolute;
display: flex;
justify-content: start;
align-items: start;
top: 55px;
right: 90px;
z-index: 6;
flex-direction: column;
transition: margin-left 0.3s ease;
}
.flex-items-headings{
flex-basis: 150px;
padding: 5px;
font-size: 18px;
color: white;
font-weight: bold;
}   
.flex-items-non-headings{
flex-basis: 150px;
padding: 5px;
font-size: 16px;
color: white;
} 
.flex-items-line{
flex-basis: 150px;
max-width: 100%;
height: auto;
object-fit: contain;
}   
@media (max-width: 900px) {
.flex-box{
transform: translateX(20%);
}
.flex-items-line{
max-width: 90%;
}

}
.form-container {
    left: 50px;
    top: 50px;
    display: flex;
    flex-direction: column;
    z-index: 5;
    position: absolute;
}

.spacer {
  height: 40px; /* Adjust height for desired spacing */
}
.button {
display: inline-flex;
align-items: center;
justify-content: center;
border-radius: 22px;
background-color: #A98B41;
border: none;
color: #FFFFFF;
text-align: center;
font-size: 28px;
padding: 20px;
width: 150px;
height: 50px;
transition: all 0.5s;
cursor: pointer;
position: absolute; /* Move to specific location */
top: 110px; /* Adjust as needed for spacing from top */
left: 50px; /* Adjust as needed for spacing from left */
z-index: 10; /* Ensure it appears above other elements */
}

.button span {
cursor: pointer;
display: inline-block;
position: relative;
transition: 0.5s;
}

.button span:after {
content: '\00bb';
position: absolute;
opacity: 0;
top: 0;
right: -20px;
transition: 0.5s;
}

.button:hover span {
padding-right: 25px;
}

.button:hover span:after {
opacity: 1;
right: 0;
}

@media (max-width: 700px) {
.button{
top: 35%;
transform: translateX(90%);
}
}
@media (max-width:450px) {
#bok_jump,#speech_bubble,#text_bubble{
    display: none;
}
#rec_gold{
    width: 350px;
}
.flex-box{
    width: 350px;
    right: 71px;
}
.button{
    top: 600px;
    transform: translateX(38%);

}

}

.larger-text {
font-size: 24px; 
}
